@import '../../appScss/index.scss';
@import '../../appScss/arrow.scss';

@mixin onTablet {
  @media (min-width: 640px) {
    @content;
  }
}

@mixin onDesktop {
  @media (min-width: 1200px) {
    @content;
  }
}
.dropdown {
  font-family: Mont, sans-serif;
  position: relative;
  width: 136px;
  @include onTablet {
    width: 186px;
  }
  @include onDesktop {
    width: 176px;
  }

  &__button {
    font-family: Mont, sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 12px;
    border: 1px solid #e2e6e9;
    box-sizing: border-box;
    background-color: white;
    cursor: poiner;

    &:focus {
      border: 1px solid var(--primary-color);
    }
  }

  &__current {
    font-size: 14px;
  }

  &__list {
    font-family: Mont, sans-serif;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    margin-top: 4px;
    border: 1px solid var(--elements-color);
    box-sizing: border-box;
    padding-block: 8px;
    z-index: 1;
    background-color: white;
  }

  &__item {
    padding-inline: 12px;
    padding-block: 5px;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    color: var(--secondary-color);
    cursor: pointer;

    &:hover {
      background: var(--hover-bg-color);
      color: var(--primary-color);
    }
  }

  &__visible {
    display: initial;
  }
}
