@import '../../ProductDetails-mixins.scss';
@import '../../../../appScss/colors.scss';

.galleryBlock {
  display: flex;
  gap: 16px;

  @include ProductDetails-OnPhones {
    flex-direction: column-reverse;
    align-items: center;
  }

  &__leftSide {
    display: flex;
    flex-direction: column;
    gap: 16px;

    @include ProductDetails-OnPhones {
      flex-direction: row;
      gap: 8px;
    }

    &_img {
      width: 80px;
      height: 80px;
      object-fit: contain;
      border: 1px solid var(--elements-color);
      padding: 7px;
      box-sizing: border-box;
      cursor: pointer;

      @include ProductDetails-OnTablet {
        padding: 3px;
        width: 35px;
        height: 35px;
      }

      @include ProductDetails-OnPhones {
        width: 51px;
        height: 51px;
        padding: 4px;
      }
    }
  }

  &__rightSide {
    &_img {
      width: 464px;
      height: 464px;
      padding: 11px;
      box-sizing: border-box;
      object-fit: contain;

      @include ProductDetails-OnTablet {
        height: 100%;
        width: 100%;
        aspect-ratio: 1 / 1;
      }
    }
  }
}

#activeImage {
  border: 2px solid var(--primary-color);
  transition: border 0s;
}
