@import '../../appScss/text';
@import '../../appScss/typography';
@import '../../appScss/link';
@import '../../appScss/mixins';
@import '../../appScss/colors';

.product_card {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  position: relative;
  width: calc(25% - (16px * 0.75));
  padding: 32px;
  border: 1px solid var(--card-border);
  background-color: var(--card-bg);
  box-sizing: border-box;
  transition: box-shadow 0.3s;

  &__slider {
    @include onTablet {
      min-width: 237px;
    }

    @include onPhone {
      min-width: 212px;
    }
  }

  &__list {
    @media (max-width: 1080px) {
      width: calc(33.33% - (16px * 2 / 3));
    }

    @media (max-width: 767px) {
      width: calc(50% - 8px);
    }

    @media (max-width: 489px) {
      width: 100%;
    }
  }

  &:hover {
    box-shadow: 0px 2px 16px 0px var(--product-card-shadow);
  }

  &__info {
    width: 100%;
  }

  &__image {
    box-sizing: border-box;
    width: 208px;
    height: 208px;
    padding-inline: 12px;
    margin-inline: auto;
    margin-bottom: 24px;
    object-fit: contain;

    @include onTablet {
      width: 173px;
      height: 173px;
    }

    @include onPhone {
      width: 148px;
      height: 148px;
    }
  }

  &__title {
    height: 42px;
    margin-bottom: 6.5px;
    @include bodyText;
    color: var(--primary-color);

    @include onPhone {
      min-height: 63px;
      @include bodyText;
    }
  }

  &__price {
    margin-bottom: 8px;
    @include default-h3;
    color: var(--primary-color);

    &::before {
      content: '$';
    }
  }

  &__fullPrice {
    font-size: 22px;
    font-weight: 600;
    text-decoration: line-through;
    margin-left: 8px;
    color: var(--secondary-color);

    &::before {
      content: '$';
    }
  }

  &__features {
    display: flex;
    gap: 8px 0;
    flex-flow: column nowrap;
    padding-top: 16px;
    border-top: 1px solid var(--elements-color);
  }

  &__feature {
    display: flex;
    justify-content: space-between;

    &_title {
      color: var(--secondary-color);
      @include smallText;
    }

    &_value {
      color: var(--primary-color);
      @include smallText;
    }
  }

  &__buttons {
    display: flex;
    margin-top: 16px;
    gap: 0 8px;
  }
}

[theme='dark'] {
  .product_card {
    &__image {
      filter: brightness(90%);
    }
  }
}
