.arrow {
  width: 16px;
  height: 16px;

  &__top {
    rotate: -90deg;
  }

  &__bottom {
    rotate: 90deg;
  }

  &__left {
    rotate: 180deg;
  }

  &__opcaity {
    opacity: 0.5;
  }
}

[theme='dark'] {
  .arrow__left,
  .arrow__right {
    filter: invert(100%);
  }

  .swiper__disabled {
    .arrow__left,
    .arrow__right {
      opacity: 0.3;
    }
  }

  .pagination__disabled {
    .arrow__left,
    .arrow__right {
      opacity: 0.3;
    }
  }
}
