.swiper {
  display: flex;
  gap: 16px;

  &__button {
    background: transparent;
    border: 1px solid #b4bdc3;
    padding: 8px;
    width: 34px;
    height: 34px;
  }

  &__disabled {
    opacity: 0.5;
    cursor: default;
  }
}
