@import '../../../appScss/colors.scss';
@import '../../../appScss/typography.scss';

@mixin onDesktop {
  @media (min-width: 1200px) {
    @content;
  }
}

@mixin onTablet {
  @media (min-width: 640px) {
    @content;
  }
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  .modal_window {
    width: 80%;
    padding: 20px 15px 35px;
    border: 3px solid rgba(143, 143, 143, 0.171);
    box-shadow: 10px 10px 8px 1px rgba(30, 30, 37, 0.192);
    background-color: var(--white-color);
    color: var(--primary-color);

    @include onTablet {
      width: 60%;
    }

    @include onDesktop {
      width: 50%;
      height: 300px;
    }

    .close_btn {
      width: 24px;
      height: 24px;
      float: right;
      border: none;
      border-radius: 40px;
      color: var(--white-color);
      background-color: var(--primary-color);
      cursor: pointer;
      @include btns;
    }

    &__title {
      @include default-h4;
      margin-top: 45px;
      text-align: center;

      @include onTablet {
        @include default-h2;
      }

      @include onDesktop {
        margin-top: 55px;
      }
    }

    &__info {
      margin-top: 15px;

      p {
        @include bodyText;
        text-align: center;

        @include onTablet {
          @include default-h4;
        }
      }
    }

    .accept_box {
      display: flex;
      justify-content: center;
      margin-top: 25px;

      &__btn {
        width: 80%;
        height: 40px;
        border: none;
        color: var(--white-color);
        background-color: var(--primary-color);
        cursor: pointer;
        @include btns;

        @include onTablet {
          width: 70%;
        }

        @include onDesktop() {
          height: 50px;
        }
      }
    }
  }
}
