@import '../../appScss/index.scss';
@import '../../appScss/mixins.scss';

.header {
  background-color: #fff;
  margin-bottom: 24px;

  &__title {
    color: $color__for_test;
  }

  &__logo {
    object-fit: contain;
    margin: auto;
  }
}
.navbar {
  height: 64px;

  @include onPhone() {
    height: 48px;
  }
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #e2e6e9;

  &__right {
    display: flex;
    align-items: center;
  }

  &__link {
    display: flex;
    @include onDesktop {
      gap: 64px;
    }
    @include onTablet() {
      gap: 32px;
    }
  }

  &__item {
    display: inline-block;
    color: #89939a;
    font-size: 12px;
    font-weight: bold;
    line-height: calc(64px - 6px);
    margin-top: 3px;
    letter-spacing: 0.48px;
    text-transform: uppercase;
    text-decoration: none;
    border-bottom: 3px solid transparent;
  }

  &__utility {
    display: flex;
  }

  &__utilities {
    width: 64px;
    height: 64px;
    padding: 24px;
    border-left: 1px solid #e2e6e9;
    border-bottom: 1px solid #e2e6e9;
  }

  &__highlight {
    color: #313237;
    border-bottom: 3px solid #313237;
  }

  &__search {
    display: flex;
    width: 327px;

    &_input {
      width: 100%;
      border: none;
      font-size: 14px;
      font-family: Mont, sans-serif;
      padding-left: 24px;
      border-left: 1px solid #e2e6e9;
    }

    &_icon {
      width: 16px;
      height: 16px;
      padding: 24px;
    }
  }
}
