@import '../../appScss/index.scss';

@mixin onTablet {
  @media (min-width: 640px) {
    @content;
  }
}

@mixin onDesktop {
  @media (min-width: 1200px) {
    @content;
  }
}

.header {
  background-color: var(--bg-color);
  padding-bottom: 24px;

  //  background-color: #fff;

  &__title {
    color: $color__for_test;
  }

  &__logo {
    //<<<<<<< light-dark-theme
    position: relative;
    height: 28px;
    margin: 0 24px;
  }

  &__logo_hand {
    position: absolute;
    bottom: 42%;
    right: 34%;
    //=======
    object-fit: contain;
    margin: auto;
    //>>>>>>> main
  }
}
.navbar {
  height: 64px;

  @include onPhone() {
    height: 48px;
  }

  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--elements-color);

  &__right {
    display: flex;
    align-items: center;
  }

  &__link {
    display: flex;
    @include onDesktop {
      gap: 64px;
    }
    @include onTablet() {
      gap: 32px;
    }
  }

  &__item {
    display: inline-block;
    color: var(--secondary-color);
    font-size: 12px;
    font-weight: bold;
    line-height: calc(64px - 6px);
    margin-top: 3px;
    letter-spacing: 0.48px;
    text-transform: uppercase;
    text-decoration: none;
    border-bottom: 3px solid transparent;
  }

  &__utility {
    display: flex;

    .switch {
      margin-right: 22px;
      margin-top: 21px;
      position: relative;
    }
  }

  &__utilities {
    width: 64px;
    height: 64px;
    padding: 24px;
    border-left: 1px solid var(--elements-color);
    border-bottom: 1px solid var(--elements-color);
  }

  &__highlight {
    color: var(--primary-color);
    border-bottom: 3px solid var(--primary-color);
  }

  &__search {
    display: flex;
    width: 327px;

    &_input {
      width: 100%;
      border: none;
      font-size: 14px;
      font-family: Mont, sans-serif;
      padding-left: 24px;
      border-left: 1px solid var(--elements-color);
    }

    &_icon {
      width: 16px;
      height: 16px;
      padding: 24px;
    }
  }
}

[theme='dark'] {
  .dark_theme_logo_color {
    filter: invert(100%);
  }
}
