@import '../../appScss/reset';
@import '../../appScss/mixins.scss';
@import '../../appScss/arrow';
@import '../../appScss/colors.scss';
@import '../../appScss/typography.scss';

.page {
  width: 1136px;
  margin-inline: auto;
  margin-bottom: 20px;
  min-height: calc(100vh - 88px - 61px - 98px - 80px);

  @include onTablet {
    width: 100%;
  }

  @include onTablet {
    min-height: calc(100vh - 88px - 61px - 98px - 64px);
    margin-bottom: 64px;
  }

  @include onPhone {
    min-height: calc(100vh - 72px - 61px - 242px - 56px);
    margin-block: 24px 56px;
  }
}

.favorites_info {
  margin-bottom: 32px;
}

.title {
  @include default-h1;
  color: var(--primary-color);

  @include onPhone {
    @include mob-h1;
  }
}

.empty_cart_message,
.loading_message,
.error_message {
  @include default-h4;

  @include onPhone {
    @include mob-h4;
  }

  text-align: center;
}

.modelCount {
  color: var(--secondary-color);
  font-size: 14px;
  line-height: 21px;
  font-weight: 600;
  margin-bottom: 40px;
}
