@import '../../appScss/reset';
@import '../../appScss/mixins.scss';
@import '../../appScss/arrow';
@import '../../appScss/colors.scss';
@import '../../appScss/typography.scss';

.cart_info {
  margin-bottom: 32px;
}

.title {
  @include default-h1;

  @include onPhone {
    @include mob-h1;
  }
}

.empty_cart_message,
.loading_message,
.error_message {
  @include default-h4;

  @include onTablet {
    @include mob-h4;
  }

  text-align: center;
}

.modelCount {
	color: var(--secondary-color);
	font-size: 14px;
	line-height: 21px;
	font-weight: 600;
	margin-bottom: 40px;
}


