@import '../../appScss/colors.scss';
@import '../../appScss/typography.scss';
@import '../../appScss/mixins.scss';
@import './Carousel.module.scss';
@import './Indicators.module.scss';

.container {
    &__title {
        @include mob-h1;
        text-align: center;
        color: var(--primary-color);
        margin: 24px 16px 0 16px;

        @include onTable {
            @include default-h1;
            text-align: left;
            margin: 32px 24px 0 32px;
        }

        @include onDesktop {
            margin-top: 56px;
        }
    }
}