@import '../../appScss/reset';
@import '../../appScss/mixins.scss';
@import '../../appScss/arrow';
@import '../../appScss/colors.scss';
@import '../../appScss/typography.scss';

.page {
  width: max-content;
  margin: 24px auto 56px;

  @include onTablet {
    margin-block: 40px 64px;
  }

  @include onDesktop {
    margin-bottom: 80px;
  }
}

.cart_info {
  margin-bottom: 32px;
}

.button {
  display: flex;
  align-items: center;
  margin-bottom: 16px;

  background-color: transparent;
  border: none;
  cursor: pointer;

  &:hover .text {
    color: var(--primary-color);
  }
}

.icon {
  width: 16px;
  height: 16px;
  color: var(--primary-color);
}

.text {
  margin-left: 4px;
  color: var(--secondary-color);

  @include smallText;

  line-height: 16px;
}

.title {
  @include mob-h1;

  @include onTablet {
    @include default-h1;
  }

  color: var(--primary-color);
}

.empty_cart_message,
.loading_message,
.error_message {
  @include mob-h4;

  @include onDesktop {
    @include default-h4;
  }

  text-align: center;
}

.cart_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 32px;

  @include onDesktop {
    flex-direction: row;
    gap: 16px;
  }
}

.total_price {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  max-height: 206px;
  padding: 24px;
  border: 1px solid var(--elements-color);
}

.price {
  @include default-h2;
  color: var(--primary-color);
}

.price_text {
  margin-bottom: 48px;
  @include bodyText;
  color: var(--secondary-color);
}

.checkout_button {
  box-sizing: border-box;
  position: relative;
  width: 240px;

  @include btns;
  text-decoration: none;
  text-align: center;
  line-height: 48px;

  border: 1px solid transparent;
  color: var(--white-color);
  background-color: var(--primary-color);

  @include onTablet {
    width: 544px;
  }

  @include onDesktop {
    width: 320px;
  }

  &:hover {
    box-shadow: 0 3px 13px 0 rgba(23, 32, 49, 0.4);
    transition: box-shadow 0.3s;
  }

  &:active {
    color: var(--green-color);
    border-color: var(--elements-color);
    background-color: transparent;
    box-shadow: none;
  }

  &::before {
    content: '';
    display: block;
    position: absolute;
    top: -50%;
    width: 100%;
    height: 1px;
    background-color: var(--elements-color);
  }
}
