@import '../../appScss/swiper';
@import '../../appScss/arrow';
@import '../../appScss/typography';
@import '../../appScss/mixins';

.product_slider {
  margin-bottom: 80px;
  overflow: hidden;

  @include onTablet {
    position: relative;
    overflow: visible;
    z-index: 2;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
  }

  &__title {
    @include default-h2;
    color: var(--primary-color);

    @include onPhone {
      @include mob-h2;
    }
  }
}
