@import "../../utils/styles/reset.css";
@import "../../utils/styles/mixins.scss";
@import "../../utils/styles/variables.scss";

.card {
  box-sizing: border-box;
  display: flex;
  padding: 24px;
  gap: 24px;
  border: 1px solid $light-theme--elements;

  font-family: $font-main;

  &:not(:last-child) {
    margin-bottom: 16px;
  }

  @include OnPhone {
    flex-direction: column;
    padding: 16px;
    gap: 16px;
  }
}

.first_part {
  display: flex;
  align-items: center;
  gap: 24px;

  @include OnPhone {
    gap: 16px;
  }
}

.second_part {
  display: flex;
  align-items: center;
  gap: 24px;

  @include OnPhone {
    justify-content: space-between;
  }
}

.name {
  width: 336px;

  font-size: 14px;
  font-weight: 600;
  line-height: 21px;

  color: $light-theme--primary;

  @include OnTablet {
    width: 176px;
  }

  @include OnPhone {
    width: 128px;
  }
}

.device_count {
  display: flex;
  align-items: center;
}

.icon {
  width: 16px;
  height: 16px;

  &__border {
    padding: 8px;
    border: 1px solid $light-theme--icons;
    color: $light-theme--primary;

    &:hover {
      border-color: $light-theme--primary;
    }
  }

  &_disabled {
    padding: 8px;
    border: 1px solid $light-theme--elements;
    color: $light-theme--icons;
  }

  &:hover {
    color: $light-theme--primary;
    transition: color 0.3s;
  }
}

.number {
  min-width: 32px;

  font-weight: 600;
  font-size: 14px;
  text-align: center;

  color: rgba(0, 0, 0, 1);
}

.price {
  width: 80px;

  &_number {
    font-size: 22px;
    font-weight: $font-bold;
    line-height: 32px;
    text-align: right;

    color: $light-theme--primary
  }
}