@import '../../appScss/reset';
@import '../../appScss/mixins.scss';
@import '../../appScss/colors.scss';
@import '../../appScss/typography.scss';

.card {
  box-sizing: border-box;
  display: flex;
  padding: 24px;
  gap: 24px;
  border: 1px solid var(--elements-color);

  &:not(:last-child) {
    margin-bottom: 16px;
  }

  @include OnPhone {
    flex-direction: column;
    padding: 16px;
    gap: 16px;
  }
}

.first_part {
  display: flex;
  align-items: center;
  gap: 24px;

  @include OnPhone {
    gap: 16px;
  }
}

.second_part {
  display: flex;
  align-items: center;
  gap: 24px;

  @include OnPhone {
    justify-content: space-between;
  }
}

.photo_container {
  width: 76px;
  display: flex;
  justify-content: center;

  &__image {
    max-height: 66px;
  }
}

.name {
  width: 336px;

  @include bodyText;
  font-weight: 600;

  color: var(--primary-color);

  @include OnTablet {
    width: 176px;
  }

  @include OnPhone {
    width: 128px;
  }
}

.device_count {
  display: flex;
  align-items: center;
}

.button {
  width: 32px;
  height: 32px;
  background-color: transparent;
  border: none;
  cursor: pointer;

  &__border {
    border: 1px solid var(--icons-color);

    &:hover {
      border-color: var(--primary-color);
    }

    &__disabled {
      border: 1px solid var(--elements-color);
      cursor: auto;
    }
  }
}

.icon {
  width: 16px;
  height: 16px;
}

.number {
  min-width: 32px;

  @include bodyText;

  font-weight: 600;
  text-align: center;

  color: rgba(0, 0, 0, 1);
}

.price {
  box-sizing: border-box;
  width: 80px;

  &_number {
    @include default-h3;

    text-align: right;

    color: var(--primary-color);
  }
}
