.add_to_favorite {
  padding: 12px;
  border: 1px solid var(--icons-color);
  background: transparent;
  width: 16px;
  height: 16px;
  box-sizing: content-box;
  transition: border 0.3s;
  z-index: 1;

  &:hover {
    border: 1px solid var(--primary-color);
  }

  &__added {
    border: 1px solid var(--elements-color);
  }
}
