@import '../../appScss/index.scss';

@mixin onTablet {
  @media (max-width: 640px) {
    @content;
  }
}

.burger_menu {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  align-items: center;
  background-color: #fff;
}

.burger_button {
  width: 64px;
  height: 64px;

	@include onTablet() {
		width: 48px;
		height: 48px;
	}

  background: none;
  border: none;
  // font-size: 30px;
  cursor: pointer;
  border-left: 1px solid var(--elements-color);

  &_icon {
    margin: 0 auto;
    width: 18px;
    height: 18px;
  }
}

.menu_items {
  height: calc(100vh - 48px);
	height: calc((var(--vh, 1vh) * 100) - 48px);
  width: 100%;
  background-color: var(--card-bg);
  border: 1px solid var(--elements-color);
  position: absolute;
  padding-bottom: 32px;
  top: 48px;
  left: 0;
  display: flex;
  flex-direction: column;
  z-index: 999;
  box-sizing: border-box;
  display: flex;
}

.navbar {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;

  &__block {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
  }

  &__top {
    display: flex;
    align-items: center;
    padding-top: 32px;
  }

  &__item {
    display: inline-block;
    color: var(--secondary-color);
    font-size: 12px;
    font-weight: bold;
    line-height: 11px;
    letter-spacing: 0.48px;
    text-transform: uppercase;
    text-decoration: none;
    margin-bottom: 32px;
    border-bottom: 3px solid transparent;
    padding-bottom: 8px;
    &:hover {
      color: #313237;
    }
  }

  &__bottom {
    // height: 64px;
    width: 100%;
    position: absolute;
    bottom: 0;
    display: grid;
		grid-template-columns: 1fr auto 1fr;
		align-items: center;
		justify-items: center;
		justify-content: stretch;
    // align-items: center;
    // justify-content: space-between;
    // box-shadow: 0px -1px 0px 0px #e2e6e9;
		border-top: 1px solid #e2e6e9;

    &_block {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
			height: 64px;
			padding: 24px;
			position: relative;
			cursor: pointer;

      // width: 50%;
      box-shadow: -1px 0px 0px 0px D;
      // display: flex;
      // justify-content: center;
      // align-items: center;
      // flex: 1 0 0;
      position: relative;

			&:active {
				background-color: var(--product-card-shadow);
			}
    }

		&_separator {
			width: 1px;
			height: 100%;
			background-color: #e2e6e9;
		}

    & a {
      height: 16px;
      padding: 24px auto;
      // padding: 0;
    }
  }

  &__utilities {
    position: absolute;
    width: 16px;
    height: 16px;
    padding: 24px;
    padding-bottom: 21px;
    border-left: 1px solid var(--elements-color);
    border-bottom: 3px solid transparent;
  }

  &__highlight {
    color: var(--primary-color);
    border-bottom: 3px solid var(--primary-color);
  }
}

[theme='dark'] {
  .burger_button_icon {
    filter: invert(100%);
  }
}
