@import '../../../appScss/colors.scss';
@import '../../../appScss/typography.scss';

.form {
  width: 400px;
  padding: 30px 40px;

  border: 2px solid rgba(12, 12, 12, 0.171);

  color: var(--primary-color);
  box-shadow: 10px 10px 8px 1px rgba(30, 30, 37, 0.192);

  &__title {
    @include default-h2;
    text-align: center;
  }

  .login_box {
    position: relative;
    width: 100%;
    height: 50px;
    margin-top: 20px;

    &__field:focus {
      border: 2px solid var(--primary-color);
      background: linear-gradient(
        to right,
        rgba(255, 255, 255, 0.233),
        rgba(0, 0, 0, 0.178)
      );
    }

    &__field {
      width: 100%;
      height: 100%;
      padding: 23px 45px 20px 20px;

      outline: 0;
      border: 2px solid var(--elements-color);

      background: transparent;
      color: var(--primary-color);

      @include uppercase;

      &_error {
        border: 2px solid var(--red-color);
        background: linear-gradient(
          to right,
          rgba(245, 244, 244, 0.233),
          rgba(255, 60, 60, 0.178)
        );
      }

      &_error:focus {
        border: 2px solid var(--red-color);
        background: linear-gradient(
          to right,
          rgba(245, 244, 244, 0.233),
          rgba(255, 60, 60, 0.178)
        );
      }
    }

    &__field::placeholder {
      color: #00000056;
    }

    &__icon {
      position: absolute;
      right: 20px;
      top: 50%;
      transform: translateY(-50%);

      &_error {
        color: var(--red-color);
      }
    }
  }

  .error_message {
    margin-top: 8px;
    @include smallText;
    color: var(--red-color);
  }

  .btn {
    width: 100%;
    height: 50px;
    margin: 24px 0;

    border: none;

    background-color: var(--primary-color);
    color: var(--white-color);

    cursor: pointer;
    @include btns;
  }

  .btn:hover {
    transform: scale(1.03);
    border: none;
  }

  .register_field {
    text-align: center;
    @include bodyText;

    a {
      color: var(--primary-color);
      text-decoration: none;
    }

    a:hover {
      text-decoration: underline;
    }
  }
}
