@import '../categoryList/categoryList.module';
@import '../../appScss/link';

.category_item {
  position: relative;

  &:hover &__image {
    &_phones {
      object-position: 2px 21px;
    }

    &_tablets {
      object-position: 14px 5px;
    }

    &_accessories {
      object-position: 28px 0px;
    }
  }

  &__bg {
    width: 100%;
    height: 100%;
    aspect-ratio: 1 / 1;
    overflow: hidden;

    &_phones {
      background: #6D6474;
    }

    &_tablets {
      background: #8d8d92;
    }

    &_accessories {
      display: flex;
      background: #973d5f;
      flex-direction: column;
      justify-content: flex-end;
    }
  }

  &__image {
    object-fit: cover;
    transition: all 0.3s;

    &_phones {
      width: 125%;
      object-position: 8px 36px;
    }

    &_tablets {
      width: 145%;
      object-position: 22px 20px;
    }

    &_accessories {
      width: 187%;
      object-position: 38px 8px;
    }
  }

  &__title {
    margin-top: 24px;
    font-size: 20px;
  }

  &__model {
    font-size: 14px;
    margin-top: 4px;
    font-weight: 500;
    line-height: 21px;
    color: var(--secondary-color);
  }
}
