@import '../../appScss/mixins.scss';
@import '../../appScss/colors.scss';
@import '../../pages/ProductDetailsPage/ProductDetails-mixins.scss';

.productLoader {
  @include ProductDetails-OnTablet {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  &__title {
    max-width: 568px;
    width: 100%;
    height: 41px;

    @include onPhone {
      width: 200px;
    }
  }

  &__overview {
    display: flex;
    gap: 65px;
    margin-top: 40px;

    @include onTablet {
      gap: 17px;
      justify-content: center;
    }

    @include onPhone {
      flex-direction: column;
    }
  }

  &__galleryBlock {
    display: flex;
    gap: 16px;

    @include onPhone {
      flex-direction: column-reverse;
      align-items: center;
    }
  }

  &__leftSide {
    display: flex;
    flex-direction: column;
    gap: 16px;

    @include onPhone {
      flex-direction: row;
      gap: 8px;
    }

    &_img {
      width: 80px;
      height: 80px;

      @include onTablet {
        padding: 3px;
        width: 35px;
        height: 35px;
      }

      @include onPhone {
        width: 51px;
        height: 51px;
        padding: 4px;
      }
    }
  }

  &__rightSide {
    &_img {
      width: 464px;
      height: 464px;
      padding: 11px;

      @include onTablet {
        width: 273.392px;
        height: 273.392px;
      }
    }
  }

  &__features {
    width: 320px;

    @include onTablet {
      width: 237px;
    }

    @include onPhone {
      width: 90vw;
    }
  }

  &__colorsBlock {
    display: flex;
    gap: 8px;
  }

  &__colorsText {
    width: 98px;
    height: 15px;
    margin-bottom: 8px;
  }

  &__colors {
    position: relative;

    @include ProductDetails-PseudoElement {
      margin-top: 24px;
    }
  }

  &__colorItem {
    padding: 2px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
  }

  &__memory {
    margin-top: 12px;
    position: relative;

    @include ProductDetails-PseudoElement {
      margin-top: 24px;
    }
  }

  &__memoryText {
    width: 98px;
    height: 15px;
    margin-bottom: 8px;
  }

  &__memoryBlock {
    display: flex;
    gap: 8px;
  }

  &__memoryItem {
    width: 56px;
    height: 32px;
  }

  &__priceBlock {
    margin-top: 12px;
  }

  &__price {
    width: 72px;
    height: 41px;
  }

  &__cartBlock {
    display: flex;
    gap: 8px;
    margin-top: 16px;
  }

  &__cart {
    width: 263px;
    height: 48px;

    @include ProductDetails-OnTablet {
      width: 180px;
    }

    @include ProductDetails-OnPhones {
      width: 100%;
    }
  }

  &__fav {
    width: 48px;
    height: 48px;
  }

  &__briefInfBlock {
    display: flex;
    margin-top: 32px;
    justify-content: space-between;
  }

  &__specValue {
    width: 64px;
    height: 15px;
  }

  &__row {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__Description {
    margin: 80px 0;
    display: flex;
    gap: 65px;

    @include ProductDetails-OnTablet {
      flex-direction: column;
      margin-top: 64px;
    }

    @include ProductDetails-OnPhones {
      margin-top: 56px;
    }
  }

  &__descriptionBlock {
    &_title {
      width: 80px;
      height: 31px;
      margin-bottom: 48px;
    }

    &_subTitle {
      width: 220px;
      height: 26px;
      margin-bottom: 16px;
    }

    &_text {
      width: 559px;
      height: 105px;
      margin-bottom: 32px;

      @include onTablet {
        width: 100%;
      }
    }

    @include ProductDetails-OnTablet {
      max-width: 670px;
      width: 100%;
    }
  }

  &__specsBlock {
    width: 512px;
    display: flex;
    justify-content: space-between;
    margin-top: 25px;

    @include onTablet {
      max-width: 670px;
      width: 100%;
    }
  }

  &__specName {
    width: 74px;
    height: 21px;
  }
}

.skeleton {
  display: inline-block;
  position: relative;
  overflow: hidden;
  background-color: var(--skeleton-bg-color);

  &::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateX(-100%);
    background-image: linear-gradient(
      90deg,
      rgba($skeleton-gradient-color, 0.1) 0,
      rgba($skeleton-gradient-color, 0.3) 20%,
      rgba($skeleton-gradient-color, 0.7) 60%,
      rgba($skeleton-gradient-color, 0.1)
    );
    animation: shimmer 5s infinite;
    content: '';
  }

  @keyframes shimmer {
    100% {
      transform: translateX(100%);
    }
  }
}

[theme='dark'] {
  .skeleton {
    display: inline-block;
    position: relative;
    overflow: hidden;
    background-color: #323542;
  
    &::after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      transform: translateX(-100%);
      background-image: linear-gradient(
        90deg,
        rgba(#4A4D58, 0.1) 0,
        rgba(#4A4D58, 0.3) 20%,
        rgba(#4A4D58, 0.7) 60%,
        rgba(#4A4D58, 0.1)
      );
      animation: shimmer 5s infinite;
      content: '';
    }
  }
}