.add_to_card {
  width: 100%;
  font-family: Mont, sans-serif;
  font-size: 14px;
  line-height: 21px;
  height: 21px;
  padding-block: 10px;
  background: #313237;
  color: #ffffff;
  border: 1px solid #313237;
  box-sizing: content-box;
  transition: box-shadow 0.3s;

  &:hover {
    box-shadow: 0px 3px 13px 0px rgba(23, 32, 49, 0.4);
  }

  &__added {
    border: 1px solid #e2e6e9;
    color: #27ae60;
    background: transparent;
  }
}
