@import '../../appScss/reset.scss';
@import '../../appScss/mixins.scss';
@import '../../appScss/colors.scss';
@import '../../appScss/typography.scss';

.modal {
  position: fixed;
  top: calc(50% - 102px);
  left: calc(50% - 200px);
  width: 400px;
  height: 204px;
  background-color: var(--white-color);
  z-index: 2;

  @include onPhone {
    top: calc(50% - 84px);
    left: calc(50% - 145px);
    width: 289px;
    height: 168px;
  }

  border: 1px solid rgba(0, 0, 0, 0.171);
  box-shadow: 10px 10px 8px 1px rgba(30, 30, 37, 0.192);
  color: var(--primary-color);

  &_header {
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
    width: 100%;
    height: 48px;
    background-color: var(--btn);

    &_button {
      background-color: transparent;
      background-color: var(--btn);
      border: none;
      cursor: pointer;
    }
  }

  &_body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 16px;
    height: calc(100% - 48px);

    &_text {
      @include default-h4;

      @include onPhone {
        @include mob-h4;
      }

      text-align: center;
    }

    &_link {
      text-decoration: none;
      color: var(--primary-color);
    }
  }

  &_close_icon {
    width: 16px;
    height: 16px;

    filter: brightness(0) invert(1);
  }
}

[theme='dark'] {
  .modal {
    background-color: var(--card-bg);
    box-shadow: 10px 10px 8px 1px rgba(163, 120, 255, 0.192);
  }
}
