@mixin onTablet {
  @media (min-width: 640px) {
    @content;
  }
}

$nightBtn: #905bff;
$dayBtn: #313237;

.dayNight {
  cursor: pointer;
	display: inline-block;
	// padding: 10px;
	padding: 16px;

	@include onTablet() {
		padding: 24px;
	}

	&:hover {
		background-color: var(--product-card-shadow);
	}

	border-left: 1px solid var(--elements-color);

  input {
    display: none;

    & + div {
      border-radius: 50%;
      width: 16px;
      /* Reduced width */
      height: 16px;
      /* Reduced height */
      position: relative;
      box-shadow: inset 8px -8px 0 0 $nightBtn;
      /* Adjusted box-shadow values */
      transform: scale(1) rotate(-2deg);
      transition:
        box-shadow 0.5s ease 0s,
        transform 0.4s ease 0.1s;

      &:before {
        content: '';
        width: inherit;
        height: inherit;
        border-radius: inherit;
        position: absolute;
        left: 0;
        top: 0;
        transition: background 0.3s ease;
      }

      &:after {
        content: '';
        width: 3px;
        /* Reduced width */
        height: 3px;
        /* Reduced height */
        border-radius: 50%;
        margin: -1px 0 0 -1px;
        position: absolute;
        top: 50%;
        left: 50%;
        box-shadow:
          0 -12px 0 $dayBtn,
          0 12px 0 $dayBtn,
          12px 0 0 $dayBtn,
          -12px 0 0 $dayBtn,
          8px 8px 0 $dayBtn,
          -8px 8px 0 $dayBtn,
          8px -8px 0 $dayBtn,
          -8px -8px 0 $dayBtn;
        /* Adjusted box-shadow values */
        transform: scale(0);
        transition: all 0.3s ease;
      }
    }

    &:checked + div {
      box-shadow: inset 16px -16px 0 0 $nightBtn;
      /* Adjusted box-shadow values */
      transform: scale(0.5) rotate(0deg);
      transition:
        transform 0.3s ease 0.1s,
        box-shadow 0.2s ease 0s;

      &:before {
        background: $dayBtn;
        transition: background 0.3s ease 0.1s;
      }

      &:after {
        transform: scale(1.5);
        transition: transform 0.5s ease 0.15s;
      }
    }
  }
}
