.crumbs {
  display: flex;
  align-items: center;
  margin-bottom: 40px;

  &__link {
    cursor: pointer;
    text-decoration: none;
    color: #89939a;
    font-family: Mont;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  &__icon {
    margin-right: 8px;
    margin-left: 8px;
  }
}
