@import '../../ProductDetails-mixins.scss';
@import '../../../../appScss/colors.scss';

.productDescription {
  margin: 80px 0;
  display: flex;
  gap: 65px;

  @include ProductDetails-OnTablet {
    flex-direction: column;
    margin-top: 64px;
  }

  @include ProductDetails-OnPhones {
    margin-top: 56px;
  }

  &__descriptionBlock {
    box-sizing: border-box;

    @include ProductDetails-OnTablet {
      width: 100%;
    }
  }

  &__specsBlock {
    width: 512px;
    display: flex;
    justify-content: space-between;
    margin-top: 25px;

    @include ProductDetails-OnTablet {
      width: 100%;
    }
  }

  &__title {
    color: var(--primary-color);
    margin: 0;
    font-size: 22px;
    font-weight: 800;
    line-height: 140%;

    @include ProductDetails-PseudoElement {
      margin-top: 16px;
    }
  }

  &__article {
    &__subTitle {
      color: var(--primary-color);
      font-size: 20px;
      margin: 32px 0 16px 0;

      @include ProductDetails-OnPhones {
        font-size: 16px;
      }
    }

    &__text {
      font-size: 14px;
      width: 559px;
      font-weight: 400;
      line-height: 21px;
      margin: 0;

      @include ProductDetails-OnTablet {
        width: 100%;
      }
    }
  }

  &__specName {
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;

    @include ProductDetails-OnPhones {
      font-size: 12px;
    }
  }

  &__specValue {
    color: var(--primary-color);
    text-align: right;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;

    @include ProductDetails-OnPhones {
      font-size: 10px;
    }
  }
}
