/* import app scss style here */
@import './appScss/index.scss';
@import './appScss/mixins';
@import './appScss/typography';
@import './appScss/reset';

html {
  font-family: Mont, sans-serif;
}

main {
  @include onTable {
    width: 1136px;
    margin: 0 auto;
  }
}

.color {
  color: $color__for_test;
}
