/* import app scss style here */
@import './appScss/index.scss';
@import './appScss/mixins';
@import './appScss/typography';
@import './appScss/reset';

html {
  font-family: Mont, sans-serif;

  &::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
  }

  &::-webkit-scrollbar-track {
    background-color: var(--white-color);
  }

  &::-webkit-scrollbar {
    width: 12px;
  }

	overflow-y: scroll;
}

main {
  @include onTablet {
    width: 1136px;
    margin: 0 auto;
  }
}

.color {
  color: $color__for_test;
}
