@import '../../../appScss/colors.scss';

@mixin onDesktop {
  @media (min-width: 1200px) {
    @content;
  }
}

@mixin onTablet {
  @media (min-width: 640px) {
    @content;
  }
}

.carousel {
  display: flex;
  height: 320px;
  position: relative;
  overflow: hidden;
  margin-bottom: 18px;

  @include onTablet {
    height: 189px;
  }

  @include onDesktop {
    height: 400px;
  }

  &__btn {
    display: none;

    @include onTablet {
      display: block;
      width: 32px;
      background-color: var( --additional-btn);
      border: 1px solid var(--icons-color);
      color: var(--primary-color);
      cursor: pointer;
    }
  }

  &__slide {
    width: 100%;
    object-fit: cover;
    object-position: 70% 50%;


    @include onTablet {
      margin: 0 19px;
      overflow: visible;
      object-position: top;
    }

    @include onDesktop {
      margin: 0 16px;
      overflow: visible;
    }

    &_hidden {
      display: none;
    }
  }
}
