@import '../../appScss/typography.scss';

* {
  box-sizing: border-box;
  transition: all 0.5s;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
